USE [master]
GO
/****** Object:  Database [StorMeDb]    Script Date: 3/28/2019 18:00:18 ******/
CREATE DATABASE [StorMeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StorMeDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\StorMeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StorMeDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\StorMeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StorMeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StorMeDb]
GO
USE [StorMeDb]
GO
/****** Object:  Table [dbo].[Labels]    Script Date: 3/28/2019 18:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Labels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notes]    Script Date: 3/28/2019 18:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Label] [int] NOT NULL,
	[Note] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ToDoNote]    Script Date: 3/28/2019 18:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoNote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[toDoName] [varchar](50) NOT NULL,
	[Note] [int] NOT NULL,
	[isChecked] [bit] NOT NULL,
 CONSTRAINT [PK_ToDoNote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Labels] ON 

INSERT [dbo].[Labels] ([Id], [Name]) VALUES (1, N'Personal')
INSERT [dbo].[Labels] ([Id], [Name]) VALUES (2, N'Official')
INSERT [dbo].[Labels] ([Id], [Name]) VALUES (3, N'Temporary')
SET IDENTITY_INSERT [dbo].[Labels] OFF
ALTER TABLE [dbo].[ToDoNote] ADD  CONSTRAINT [DF_ToDoNote_isChecked]  DEFAULT ((0)) FOR [isChecked]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_Labels] FOREIGN KEY([Label])
REFERENCES [dbo].[Labels] ([Id])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_Labels]
GO
ALTER TABLE [dbo].[ToDoNote]  WITH CHECK ADD  CONSTRAINT [FK_ToDoNote_Notes] FOREIGN KEY([Note])
REFERENCES [dbo].[Notes] ([Id])
GO
ALTER TABLE [dbo].[ToDoNote] CHECK CONSTRAINT [FK_ToDoNote_Notes]
GO
USE [master]
GO
