<div class=" col-md-12">
<div class="spinner-border spinner" [hidden]="!loading" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>
 <div class = "container-fluid" [hidden]="loading">
      <div class="row">
        <!-- Search bar starts here-->
        <div class="container col-md-3">
          <div>
            <form class="py-2">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchString" name="st" #st="ngModel" list="titles"
                  class="form-control typeahead border-secondary form-control-sm" (input)="searchByTitle()"
                  placeholder="Start typing something to search..." autocomplete="off">
                  <datalist id="titles">
                    <option *ngFor="let title of titles; trackBy:indexTracker" [ngValue]="title">{{ title }}</option>
                  </datalist>
                <div class="input-group-append">
                  <button type="submit" (click)="getAllNotes()" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Search bar ends here-->
              <!-- add button starts here-->
        <div class="col text-right py-2">
          <button type="button" class="btn btn-secondary btn-sm mr-2" data-toggle="modal" data-target="#noteModal"><i
              class="fa fa-plus"></i> Note</button>
          <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#todoModal"><i
              class="fa fa-plus"></i> Todo</button>
        </div>
      </div>
          <!-- add button ends here-->
           <!-- notes list starts here-->
          <div>
            <div class="row ">
              <div class="card-columns col-md-12 ">
                <div *ngFor="let note of notes; index as i">
                  <div class="card">
                    <button type="button" class="close mt-1 mr-2" data-dismiss="modal"><i class="fa fa-trash pull-right"
                        aria-hidden="true" data-dismiss="modal" data-toggle="modal" (click)="passNoteToModal(note)" data-target="#deleteNoteModal"></i></button>
                    <button type="button" class="close mt-1 " data-dismiss="modal" data-toggle="modal"
                      (click)="passNoteToModal(note)" data-target="#updateNoteModal"><i class="fa fa-pencil pull-right"
                        aria-hidden="true"></i></button>
                    <span class="badge pull-right mt-2 mr-1 text-white badge-dark">{{ note.Label1.Name }}</span>
                    <h6 class="card-header header-style text-white">{{ note.Title }}</h6>
                    <div class="card-body card-css">
                        <div *ngIf="note.ToDoNotes.length != 0">
                            <h6>To do:</h6>
                            <option *ngFor="let toDo of note.ToDoNotes; trackBy:indexTracker" [ngValue]="toDo">{{ toDo.toDoName }}   {{toDo.isChecked}}
                              </option>
                            <hr>
                            </div>
                      <p class="card-text font-italic">{{ note.Note1 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- notes list ends here-->
  </div>
<!-- The Add Note Modal starts here-->
<div class="modal fade" id="noteModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header header-style">
        <h6 class="modal-title text-white">Add Note</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <form #addNoteForm="ngForm" type="submit" novalidate>
        <div class="modal-body">
          <div class="md-form mb-3">
            <label data-error="wrong" data-success="right" for="noteForm-title">Title</label>
            <input type="text" class="form-control" placeholder="Enter new title" [(ngModel)]="noteInfo.Title" name="ttl" #ttl="ngModel" id="ttl" required>
              <span class="text-danger small" *ngIf="ttl.errors?.required && submitted">Title is required
              </span>
          </div>
          <div class="md-form mb-3">
            <div class="col-md-6 ">
              <label class="float-left">Select label</label>
              <select [(ngModel)]="noteInfo.Label1" #selectedLabel="ngModel" name="selectedLabel"
                class="form-control input-lg" ngControl="noteInfo" required>{{labels}}
                <!-- <option [ngValue]="" selected disabled hidden>Choose here</option> -->
                <option [ngValue]="null" disabled [selected]="true">--Select labelsss--</option>
                <option *ngFor="let label of labels; trackBy:indexTracker" [ngValue]="label">{{ label.Name }}
                </option>
              </select>
            </div>
          </div>
          <div class="md-form mb-4">
            <label data-error="wrong" data-success="right" for="noteForm-note">Note Content</label>
            <textarea type="" [(ngModel)]="noteInfo.Note1" name="label" #label="ngModel" placeholder="Enter new note" id="noteForm-note"
              class="form-control validate"></textarea>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="addNote(addNoteForm.valid)" class="btn btn-primary btn-sm" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- The Add Note Modal ends here-->


<!-- The Todo Note Modal starts here -->
<div class="modal fade" id="todoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header header-style">
        <h6 class="modal-title text-white">Add Todo Note</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="noteForm-title">Title</label>
          <input [(ngModel)]="toDoNoteInfo.Title" name="todoTitle" #todoTitle="ngModel" type="text" id="noteForm-title" placeholder="Enter new title" class="form-control validate">
        </div>
        <div class="md-form mb-3">
          <div class="md-form mb-3">
            <div class="col-md-6 ">
              <label class="float-left">Select label</label>
              <select [(ngModel)]="toDoNoteInfo.Label1" #selectedLabel="ngModel" name="selectedLabel"
                class="form-control input-lg" required>{{labels}}
                <option selected [ngValue]="null">--Select label--</option>
                <option *ngFor="let label of labels; trackBy:indexTracker" [ngValue]="label">{{ label.Name }}
                </option>
              </select>
            </div>
          </div>
          
        </div>
        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right" for="noteForm-note">toDO list</label>
          <div *ngFor="let T of toDoNoteInfo.ToDoNotes; index as i" >
          <input [(ngModel)]="T.toDoName" name="toDoItem" #toDoItem="ngModel" type="text" id="noteForm-toDo" class="form-control validate">
          </div>
        </div>
        <button type="button" class="btn btn-sm" (click)="addNewTodoInList()">+</button>
        <button type="button" class="btn btn-sm" (click)="removeTodoFromList(T)">-</button>
        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right" for="noteForm-note">Note Content</label>
          <input [(ngModel)]="toDoNoteInfo.Note1" name="todoContent" #todoContent="ngModel" type="text" id="noteForm-note" class="form-control validate">
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" (click)="addTodoNote()" class="btn btn-primary btn-sm" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- The Todo Note Modal ends here -->

<!-- The Update Note Modal starts here-->
<div class="modal fade" id="updateNoteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header header-style">
        <h6 class="modal-title text-white">Update Note</h6>
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <form>
        <div class="modal-body">
          <div class="md-form mb-3">
            <label data-error="wrong" data-success="right" for="noteForm-title">Title</label>
            <input [(ngModel)]="currentSelectedNote.Title" name="ttl" #ttl="ngModel" placeholder="Enter new title"
              type="text" id="noteForm-title" class="form-control validate">
          </div>
          <div class="md-form mb-3">
            <div class="col-md-6 ">
              <label class="float-left">Select label</label>{{ label.Id }}
              <select [(ngModel)]="currentSelectedNote.Label" #selectedLabel="ngModel" name="selectedLabel"
                class="form-control input-lg" required>{{labels}}
                <option value="0">--Select label--</option>
                <option *ngFor="let label of labels" [value]="label.Id">{{ label.Name }}
                </option>
              </select>
            </div>
          </div>
          <div class="md-form mb-4" *ngIf="currentSelectedNote.ToDoNotes.length != 0">
              <label>To do</label>
              <div class="md-form mb-4">
                <div *ngFor="let toDo of currentSelectedNote.ToDoNotes; index as i">
                <input type="checkbox" [(ngModel)]="toDo.isChecked" name="toDoIsChecked" #toDoIsChecked="ngModel" class="form-check-input" id="toDo.isChecked">
                <label class="form-check-label" for="exampleCheck1">{{toDo.toDoName}}</label> {{toDo.isChecked}}
                </div>
              </div>
          </div>
          <div class="md-form mb-4">
            <label data-error="wrong" data-success="right" for="noteForm-note">Note Content</label>
            <textarea type="" [(ngModel)]="currentSelectedNote.Note1" name="noteContent" #noteContent="ngModel"
              id="noteForm-note" class="form-control validate"></textarea>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="updateNote()" class="btn btn-primary btn-sm"
            data-dismiss="modal">Update</button>
          <button type="submit" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  <!-- The Update Note Modal ends here-->

<!-- The Update Note Modal starts here-->
<div class="modal fade" id="deleteNoteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header header-style">
          <h6 class="modal-title text-white">Delete Note</h6>
          <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
          <div class="modal-body">
         
            <div class="md-form mb-4">
              <h6> Do you really want to delete Note: {{currentSelectedNote.Title}}?</h6>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" (click)="deleteNote()" class="btn btn-primary btn-sm"
              data-dismiss="modal">Yes</button>
            <button type="submit" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
          </div>
      </div>
    </div>
    </div>
    <!-- The elete confirmation box ends here-->